{% extends 'base.html' %} {% block content %}

<section id="login-section" class="p-5">
  <div class="dark-overlay">
  <div class="row">
    <div class="container">
      <div class="col-md-6 m-auto align-content-center text-center p-5">
        <div class="card text-white card-form" style="background-color: #17a2b8">
          <div class="card-header">
            <div class="card-title"><i class="fas fa-user-plus py-2"></i> Login</div>
          </div>
          <div class="card-body">
            <p>Please fill out this form to login</p>
            {% include 'utils/_alerts.html' %}
            <form action="{% url 'login' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <input
                  type="text"
                  name="username"
                  class="form-control form-control" placeholder="Username"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  name="password"
                  class="form-control form-control" placeholder="Password"
                  required
                />
              </div>
              <input
                type="submit"
                value="Login"
                class="btn btn-outline-light btn-block"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>



<!--<div class="container">-->
<!--  <h3><i class="fas fa-sign-in-alt py-5"></i> Login</h3>-->
<!--    {% include 'utils/_alerts.html' %}-->
<!--      <form action="{% url 'login' %}" method="POST">-->
<!--        {% csrf_token %}-->
<!--        <div class="form-group">-->
<!--          <label for="username">Username</label>-->
<!--          <input-->
<!--            type="text"-->
<!--            name="username"-->
<!--            class="u-full-width"-->
<!--            required-->
<!--          />-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--          <label for="password2">Password</label>-->
<!--          <input-->
<!--            type="password"-->
<!--            name="password"-->
<!--            class="u-full-width"-->
<!--            required-->
<!--          />-->
<!--        </div>-->

<!--        <input-->
<!--          type="submit"-->
<!--          value="Login"-->
<!--          class="btn btn-secondary btn-block"-->
<!--        />-->
<!--      </form>-->
<!--</div>-->
{% endblock %}
