{% extends 'base.html' %} {% block content %}

<section id="register-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto align-content-center text-center p-5">
        <div class="card text-white card-form" style="background-color: #17a2b8">
          <div class="card-header">
            <div class="card-title"><i class="fas fa-user-plus py-2"></i> Register Today</div>
          </div>
          <div class="card-body">
            <p>Please fill out this form to register</p>
            {% include 'utils/_alerts.html' %}
            <form action="{% url 'register' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <input
                  type="text"
                  name="first_name"
                  class="form-control form-control" placeholder="FirstName"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="last_name"
                  class="form-control form-control" placeholder="LastName"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="username"
                  class="form-control form-control" placeholder="Username"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  name="email"
                  class="form-control form-control" placeholder="Email"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  name="password"
                  class="form-control form-control" placeholder="Password"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  name="password2"
                  class="form-control form-control" placeholder="Confirm Password"
                  required
                />
              </div>
              <input
                type="submit"
                value="Register"
                class="btn btn-outline-light btn-block"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
