{% extends 'base.html' %}
{% load static %}
{% block content %}

<header id="page-header">
<div class="container">
  <div class="row">
    <div class="col-md-8 m-auto text-right">
      <h1 class="display-4">Guitar Teaching</h1>
      <p class="lead">Become a one-on-one guitar teacher!</p>
      <a href="{% url 'register' %}" class="btn btn-light btn-lg">Sign Up Now</a>
    </div>
  </div>
</div>
</header>


<!-- Video Play -->
<section id="video-section">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container p-5">
          <a href="#" class="video" data-video="https://www.youtube.com/embed/FjHGZj2IjBk"
          data-toggle="modal" data-target="#videoModal">
            <i class="fas fa-play fa-3x"></i>
          </a>
          <h1>Watch a Video</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Video Modal -->
<div class="modal fade" id="videoModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        <iframe src="#" frameborder="0" height="350" width="100%" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>


{% endblock %}
