{% extends 'base.html' %}
{% block content %}
<section id="showcase-inner" class="py-4" style="height: 180px">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4" style="color: white">Let's Start!</h1>
        <p class="lead" style="color: white">Teaching Guitar Now!</p>
      </div>
    </div>
  </div>
</section>


<section id="guitar-display" class="py-4">
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                Guitar Display
            </div>
            <div class="card-body ">
<!--                <h4 class="card-title">Guitar Display</h4>-->
<!--                <p class="card-text">xxx</p>-->
<!--                <a class="btn btn-info" href="#">Start Lesson</a>-->
                <div class="container">
                    <table class="board">
                        <tr>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                        </tr>
                        <tr>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                        </tr>
                         <tr>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                        </tr>
                        <tr>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                        </tr>
                        <tr>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                        </tr>
                        <tr>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                        </tr>
                    </table>
                </div>
                <button id="start-play" class="btn btn-info my-2">Start Playing Guitar</button>

            </div>
        </div>
    </div>
</section>

{% endblock %}