{% extends 'base.html' %} {% block content %}
<section id="showcase-inner" class="py-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4" style="color: white">Start lessons with your students!</h1>
        <p class="lead" style="color: white">Teaching Guitar Now!</p>
      </div>
    </div>
  </div>
</section>



<section id="students" class="py-4">
  <div class="container">
    <div class="row">
      <!-- there are students in the database -->
      {% if students %}
        {% for student in students %}
        <div class="col-md-6 col-lg-4 mb-4">
        <div class="card">
            <div class="card-header">
                {{ student.level }}
            </div>
            <div class="card-body">
                <div class="img-fluid rounded-circle w-50 mb-3">{{ student.photo }}</div>
<!--                <img src= {{ student.photo }} alt="" class="img-fluid rounded-circle w-50 mb-3">-->
                <h4 class="card-title">{{ student.name }}</h4>
                <p class="card-text">{{ student.description }}</p>
                <a class="btn btn-info" href="{% url 'student' student.id %}">Start Lesson</a>
            </div>
        </div>
        </div>
        {% endfor %}
      {% else %}
      <div class="col-md-12">
        <p>No Students Here</p>
      </div>

      {% endif %}
    </div>
  </div>
  </section>

{% endblock %}