#page-header {
  height: 450px;
  background: url('../img/guitar.jpeg') fixed -240px 60px;
  color: #fff;
  /*border-bottom: 1px #eee solid;*/
  padding-top: 50px;
}

#showcase-inner {
  height: 250px;
  background-color: #17a2b8;
}

.board button {
  width:257px;
  height: 50px;
}

#login-section {
  position: relative;
  height: 100%;
  background: url('../img/guitar.jpeg') no-repeat fixed;
  text-align: center;
  color: white;
}

.dark-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#video-section {
  position: relative;
  min-height: 200px;
  background: url(../img/media.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: white;
}

#video-section a {
  color: white;
}
